.Hello-1,
.portfolio,
header,
.headA-1,
.block-3,
.block-3  div:nth-child(1),
.block-3  div:nth-child(2),
.block-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hello-1,
.Hello-2,
.Hello-3,
.Hello-4{
    color: white;
}                       
         
        
         